<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="sticky-top opacity-0 bg-light">
        <div class="d-flex w-100 mt-2">
            <h3 class="mr-auto">RSS Feed Channels</h3>
            <button type="button" class="btn btn-primary btn-sm h-50" (click)="updateChannel(-1)">Poll</button>
          </div>
          <blockquote class="blockquote mb-0">
              <span class="text-info font-italic small">{{epoch}}</span>
          </blockquote>

          <form (ngSubmit)="addChannel()" [formGroup]="newChannelForm" class="d-flex w-100">
            <input type="text" formControlName="newChannelUrl" id="newChannelUrl"
              placeholder="News channel URL" name="newChannelURL" class="flex-grow-1"/>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!newChannelForm.valid" >+</button>
          </form>
          <div *ngIf="f.newChannelUrl.invalid && (f.newChannelUrl.dirty || f.newChannelUrl.touched)"
              class="alert alert-danger">

            <div *ngIf="f.newChannelUrl.errors.required">
              Url is required.
            </div>
            <div *ngIf="f.newChannelUrl.errors.minlength">
              Url must be at least 10 characters long.
            </div>
            <div *ngIf="f.newChannelUrl.errors.urlValid">
              Url already exists.
            </div>
          </div>
        </div>
      <div *ngIf="(channels$ | async)?.length > 0; else noChannelItems">
        <div class="card" *ngFor="let channel of channels$ | async">
          <div class="card-text">{{ channel.url }}</div>
          <div class="d-flex w-100 justify-content-between"  [ngClass]="{'text-warning': !channel.valid, 'text-success': channel.valid }">
            <span class="text-capitalize small">{{ channel.valid ? 'Normal': 'Need to check the url!' }}</span>
            <button type="button" class="btn btn-danger btn-sm" (click)="delChannel(channel.id)">-</button>
          </div>
          <div *ngIf="!!(channel.valid)" class="card-body">
            <h5 class="card-title">{{ channel.title }}</h5>
            <p class="card-text">{{ channel.description }}</p>
            <blockquote class="blockquote mb-0">
              <div class="d-flex w-100 justify-content-between">
                <a href="{{channel.link}}" (click)="$event.stopPropagation()" class="btn btn-info btn-sm" target="_blank">Link</a>
                <img *ngIf="!!(channel.valid && channel.image?.url)"
                      class="embed-responsive-item"
                      src="{{channel.image?.url}}"
                      alt="{{channel.image?.title}}"  >
              </div>
              <footer class="blockquote-footer">Last updated at {{ channel.lastPolling }}</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <ng-template #noChannelItems>
        <div class="card" >
          <div class="card-title">Please add RRS Feed channel to poll.</div>
        </div>
      </ng-template>
    </div>
    <div class="col-lg-6">
      <app-news-list></app-news-list>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
